<md-card id="headsUpCard">
  <md-card-content>
    <h1>Thank you!</h1>
    <h3>We are excited to see you and really appreciate you letting us know when you plan to join us.</h3>

    <p>Here are a few refresher-reminders...</p>

    <md-list>
      <md-list-item>
        <p><span style="font-weight: bold">Projects.</span> Our goal is to have a Youth Enrichment (Play) and Hand-on (Plant or Paint) option for every carpool site every day.</p>
      </md-list-item>
      <md-list-item>
      <p><span style="font-weight: bold">Preference.</span> We want you to get to do what you want to do. That said, we need you where we need you and appreciate your flexibility.</p>
      </md-list-item>
      <md-list-item>
        <p><span style="font-weight: bold">Punctuality.</span> Please arrive by 8:45. Your best chance of getting your project preference is to arrive on time.</p>
      </md-list-item>
      <md-list-item>
        <p><span style="font-weight: bold">Promote.</span> Please spread the word so other people can get in on the action (and give us a HeadsUp when they plan to).</p>
      </md-list-item>
    </md-list>

    <p>
      If you have questions or suggestions, call/text 313-444-7FUN, or email <a href="mailto:staff@summerinthecity.com">staff@summerinthecity.com</a>.
    </p>

    <p style="margin-bottom: 0">
      See you soon,
    </p>
    <p style="margin-top: 0">
      The Summer in the City Crew
    </p>

    <p style="font-style: italic; margin-bottom: 0">
      Want to submit a heads up for a different volunteer?
    </p>
    <md-button class="md-primary" ng-click="goToId()">Submit another Heads Up</md-button>
  </md-card-content>
</md-card>
