<md-card id="headsUpCard" style="height: 100%; margin-top: 20px">
  <md-card-content>
    <h2>HeadsUp</h2>
    <span class="md-subhead"><strong>Thank you for giving us a HeadsUp for when you plan to volunteer!</strong> This information will help us develop the day and play to your preferences.</span>

    <div style="margin-top: 21.280px">
      <span class="md-subhead"><strong>Confused about this whole HeadsUp thing?</strong> Check out our <a href="https://vimeo.com/216236888">explainer video</a>.</span>
    </div>

    <div>
      <h4 style="margin-bottom:0">First let's find you in Tristn.</h4>
      <span>Type the email address you used to register.</span>
    </div>
    <div layout="column">
      <div layout="row">
        <md-input-container style="margin-bottom: 0" ng-class="{'md-input-invalid': notFound}">
          <label>Email</label>
          <input id="emailInput" type="email" ng-model="emailForQuery" size="40" />
        </md-input-container>
        <span flex></span>
      </div>
      <div layout="row">
        <md-button class="md-primary" ng-click="findPerson(emailForQuery)">Find me</md-button>
        <span flex></span>
      </div>
    </div>
    <div id="notFoundContainer" ng-show="notFound">
      <h4 style="margin-top: 0">We couldn't find a volunteer with that email address.</h4>
      <span>Please try again. Make sure that you are using the email address that you used as the <strong>volunteer</strong> email address when you registered, <strong>not</strong> the parent email address</span>
    </div>
    <div id="potentialPersonsContainer">
      <md-list>
        <md-list-item class="md-2-line" ng-repeat="person in potentialPersons" >
          <div layout="row">
            <div class="md-list-item-text">
              <h3>{{ person.firstName }} {{ person.lastName }}</h3>
              <h4 class="md-subhead" style="font-weight:500">{{ person.email }} | {{ person.phone | phoneNumber }}</h4>
            </div>
            <md-button class="md-primary" ng-click="selectPerson($index)">Select</md-button>
          </div>
        </md-list-item>
      </md-list>
    </div>
  </md-card-content>
</md-card>
