<md-card id="headsUpCard" style="height: 100%; margin-top: 20px">
  <md-card-content>
    <h2>Heads Up</h2>
    <span class="md-subhead"><strong>Thank you for giving us a Heads Up for when you plan to volunteer!</strong> This information will help us develop the day and play to your preferences.</span>

    <div>
      <h4 style="margin-bottom:0">First let's find you in Tristn.</h4>
      <span>Type the email address you used to register.</span>
    </div>
    <div layout="column">
      <div layout="row">
        <md-input-container style="margin-bottom: 0">
          <label>Email</label>
          <input type="email" ng-model="emailForQuery" size="40" />
        </md-input-container>
        <span flex></span>
      </div>
      <div layout="row">
        <md-button class="md-primary" ng-click="findPerson(emailForQuery)">Find me</md-button>
        <span flex></span>
      </div>
    </div>
    <div id="potentialPersonsContainer">
      <md-list>
        <md-list-item class="md-2-line" ng-repeat="person in potentialPersons" >
          <div layout="row">
            <div class="md-list-item-text">
              <h3>{{ person.firstName }} {{ person.lastName }}</h3>
              <h4 class="md-subhead" style="font-weight:500">{{ person.email }} | {{ person.phone | phoneNumber }}</h4>
            </div>
            <md-button class="md-primary" ng-click="selectPerson($index)">Select</md-button>
          </div>
        </md-list-item>
      </md-list>
    </div>
  </md-card-content>
</md-card>
