<md-card id="headsUpCard">
  <md-card-content>
    <h1>Thank you!</h1>
    <h3>Your heads up data helps make this summer hands down the best one yet!</h3>

    <p>Flexibility will always be paramount at Summer in the City, but a little planning ahead only makes us more Fun, Flexibile and Fulfilling in the long run.</p>

    <p>
      Like we said, we'll try to thank you for taking the time to enhance our planning by doing our best to send you to the project you prefer. And if there are days we can't make that happen, we will appreciate your Flexibility in being Fulfilled by wherever the Fun takes you.
    </p>

    <p>
      Feel free to come back and update your heads up info any time!
    </p>

    <p>
      Have another child, a sibling, or a friend to fill out Heads Up for?
    </p>
    <md-button class="md-primary" ng-click="goToId()">Submit another Heads Up</md-button>
  </md-card-content>
</md-card>
